{% extends '_rangoBase.html' %}
{% load static %}
{% load filters %}

{% block extra_css %}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css" />
<style type="text/css">
    .form-wrapper{
        min-height:500px;
        overflow:hidden;
    }
</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />
{% endblock %}

{% block extra_js_top %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"  ></script>
<script type="text/javascript" src='//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js' ></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js" ></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.selectpicker').selectpicker();
            $('.datatable').DataTable({
               ordering:  false,
                "language":{
    "sProcessing":     "Processing...",
    "sLengthMenu":     "Show _MENU_ rows",
    "sZeroRecords":    "There are no results",
    "sEmptyTable":     "There is no available information in this table",
    "sInfo":           "Currently displaying _TOTAL_ rows, starting from row _START_ until _END_",
    "sInfoEmpty":      "Currently displaying 0 rows, starting from row 0 until 0",
    "sInfoFiltered":   "(filter from a total of _MAX_ rows)",
    "sInfoPostFix":    "",
    "sSearch":         "Search:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Loading...",
    "oPaginate": {
        "sFirst":    "First",
        "sLast":     "Last",
        "sNext":     "Next",
        "sPrevious": "Previous"
    },
    "oAria": {
        "sSortAscending":  ": Order in ascending form",
        "sSortDescending": ": Order in descending form"
    }
                }}
                );
            });
        </script>
{% endblock %}

{% block content %}
  <div class="container-fluid col-sm-12">
    <div class="section form-wrapper">
      <h4 class="section"  >{{ vars.list_name }}</h4>
      <hr />
      <table class="table datatable" >
        <thead>
          <tr>
            {% for t in headers_list %}
              <th>{{t}}</th>
            {% endfor %}
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for t in objects_list %}
          <tr>
          {% for item in t.items %}
            {% if item.0 != 'id' %}
              <td>
                {% if item.0 == 'photo' or item.0 == 'avatar' %}
                  <img class="img img-responsive img-thumbnail" src="{{ item.1 }}"/>
                {% else %}
                  {% if item.1 %}
                    {{ item.1 }}
                  {% endif %}
                {% endif %}
              </td>
            {% endif %}
          {% endfor %}
            <td>
              <a class="btn btn-warning{% if user|can_edit:vars.data_model == False %} disabled{% endif %}" href="{% url vars.change t.id %}" ><i class="fa fa-pencil fa-inverse"></i></a>
              <a class="btn btn-danger{% if user|can_delete:vars.data_model == False %} disabled{% endif %}" href="{% url vars.delete t.id %}" ><i class="fa fa-trash-o fa-inverse"></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-success{% if user|can_add:vars.data_model == False %} disabled{% endif %}" href="{% url vars.add %}" ><i class="fa fa-plus fa-inverse"></i> New {{ vars.data_model }}</a>
    </div>
  </div>
{% endblock %}
